.form-c{
    display: flex;
    width: 70vw;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* margin-top: 10vh; */
}
.form-c>input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-c>input[type=submit] {
    width: 10%;
    background-color: #0eece1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-c>input[type=submit]:hover {
    background-color: #2edfd6;
  }
  